Repository linogaliana/python-datascientist, pull requests merged in 2021-12, with the labels that each got.

#180 Relec @antuki partie modelisation
  content/course/modelisation/0_preprocessing.Rmd
  content/course/modelisation/1_modelevaluation.Rmd
  content/course/modelisation/2_SVM.Rmd
  content/course/modelisation/3_regression.Rmd
  content/course/modelisation/4_featureselection.Rmd
  content/course/modelisation/_index.Rmd
  content/course/modelisation/_index.md
  content/course/modelisation/get_data.py
Labels: Partie modélisation, relecture

#177 Mise à jour liste TP
  .Rprofile
  .github/workflows/netlify-test.yaml
  content/course/listeTP/_index.Rmd
  content/course/manipulation/04c_API_TP.Rmd
  corrections/course/manipulation/04c_API_TP.ipynb
  notebooks/course/manipulation/04c_API_TP.ipynb
Labels: Website

#184 MAJ URL script recup data
  content/course/modelisation/0_preprocessing.Rmd
  content/course/modelisation/1_modelevaluation.Rmd
  content/course/modelisation/2_SVM.Rmd
  content/course/modelisation/3_regression.Rmd
  content/course/modelisation/4_featureselection.Rmd
  corrections/course/modelisation/0_preprocessing.ipynb
  corrections/course/modelisation/1_modelevaluation.ipynb
  corrections/course/modelisation/2_SVM.ipynb
  corrections/course/modelisation/3_regression.ipynb
  corrections/course/modelisation/4_featureselection.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/1_modelevaluation.ipynb
  notebooks/course/modelisation/2_SVM.ipynb
  notebooks/course/modelisation/3_regression.ipynb
  notebooks/course/modelisation/4_featureselection.ipynb
Labels: bug, Partie modélisation

#186 Essaye nom différent
  content/course/modelisation/0_preprocessing.Rmd
  content/course/modelisation/1_modelevaluation.Rmd
  content/course/modelisation/2_SVM.Rmd
  content/course/modelisation/3_regression.Rmd
  content/course/modelisation/4_featureselection.Rmd
  content/course/modelisation/5_clustering.Rmd
  corrections/course/modelisation/0_preprocessing.ipynb
  corrections/course/modelisation/1_modelevaluation.ipynb
  corrections/course/modelisation/2_SVM.ipynb
  corrections/course/modelisation/3_regression.ipynb
  corrections/course/modelisation/4_featureselection.ipynb
  corrections/course/modelisation/5_clustering.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/1_modelevaluation.ipynb
  notebooks/course/modelisation/2_SVM.ipynb
  notebooks/course/modelisation/3_regression.ipynb
  notebooks/course/modelisation/4_featureselection.ipynb
  notebooks/course/modelisation/5_clustering.ipynb
Labels: bug, Partie modélisation

#187 Modifie l'import du script
  content/course/modelisation/0_preprocessing.Rmd
  content/course/modelisation/1_modelevaluation.Rmd
  content/course/modelisation/2_SVM.Rmd
  content/course/modelisation/3_regression.Rmd
  content/course/modelisation/4_featureselection.Rmd
  content/course/modelisation/5_clustering.Rmd
  content/course/modelisation/get_data.py
  corrections/course/modelisation/0_preprocessing.ipynb
  corrections/course/modelisation/1_modelevaluation.ipynb
  corrections/course/modelisation/2_SVM.ipynb
  corrections/course/modelisation/3_regression.ipynb
  corrections/course/modelisation/4_featureselection.ipynb
  corrections/course/modelisation/5_clustering.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/1_modelevaluation.ipynb
  notebooks/course/modelisation/2_SVM.ipynb
  notebooks/course/modelisation/3_regression.ipynb
  notebooks/course/modelisation/4_featureselection.ipynb
  notebooks/course/modelisation/5_clustering.ipynb
Labels: bug, Partie modélisation

#190 Finalise debug partie ML
  content/course/modelisation/0_preprocessing.Rmd
  content/course/modelisation/1_modelevaluation.Rmd
  content/course/modelisation/2_SVM.Rmd
  content/course/modelisation/3_regression.Rmd
  content/course/modelisation/4_featureselection.Rmd
  content/course/modelisation/5_clustering.Rmd
  corrections/course/modelisation/0_preprocessing.ipynb
  corrections/course/modelisation/1_modelevaluation.ipynb
  corrections/course/modelisation/2_SVM.ipynb
  corrections/course/modelisation/3_regression.ipynb
  corrections/course/modelisation/4_featureselection.ipynb
  corrections/course/modelisation/5_clustering.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/1_modelevaluation.ipynb
  notebooks/course/modelisation/2_SVM.ipynb
  notebooks/course/modelisation/3_regression.ipynb
  notebooks/course/modelisation/4_featureselection.ipynb
  notebooks/course/modelisation/5_clustering.ipynb
Labels: bug, Partie modélisation

#191 Mise à jour liste des colonnes
  content/course/modelisation/0_preprocessing.Rmd
  corrections/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
Labels: bug, Partie modélisation

#192 Encore une erreur de nom de colonne
  content/course/modelisation/0_preprocessing.Rmd
  corrections/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
Labels: bug, Partie modélisation

#193 Debug du plotly (temporaire)
  content/course/modelisation/0_preprocessing.Rmd
  corrections/course/modelisation/0_preprocessing.ipynb
  notebooks/course/modelisation/0_preprocessing.ipynb
Labels: bug, Partie modélisation

#199 Retouches partie NLP
  assets/scss/custom.scss
  content/course/NLP/02_exoclean.Rmd
  corrections/course/NLP/02_exoclean.ipynb
  notebooks/course/NLP/02_exoclean.ipynb
Labels: NLP :book:

#205 Relecture suite du NLP
  content/course/NLP/02_exoclean.Rmd
  content/course/NLP/03_lda.Rmd
  content/course/NLP/04_word2vec.Rmd
  content/course/modelisation/2_SVM.Rmd
  content/course/modelisation/5_clustering.Rmd
  corrections/course/NLP/02_exoclean.ipynb
  corrections/course/NLP/03_lda.ipynb
  corrections/course/NLP/04_word2vec.ipynb
  corrections/course/modelisation/2_SVM.ipynb
  corrections/course/modelisation/5_clustering.ipynb
  notebooks/course/NLP/02_exoclean.ipynb
  notebooks/course/NLP/03_lda.ipynb
  notebooks/course/NLP/04_word2vec.ipynb
  notebooks/course/modelisation/2_SVM.ipynb
  notebooks/course/modelisation/5_clustering.ipynb
Labels: NLP :book:, relecture

#206 TP vectorization prediction authors
  .gitignore
  content/course/NLP/04_word2vec.Rmd
  content/course/NLP/w2v_vecto.png
  corrections/course/NLP/04_word2vec.ipynb
  notebooks/course/NLP/04_word2vec.ipynb
Labels: scikit, NLP :book:

#203 Un tutoriel sur les pipelines
  content/course/NLP/03_lda.Rmd
  content/course/modelisation/6_pipeline.Rmd
  corrections/course/NLP/01_intro.ipynb
  corrections/course/NLP/02_exoclean.ipynb
  corrections/course/NLP/03_lda.ipynb
  corrections/course/NLP/04_word2vec.ipynb
  corrections/course/modelisation/6_pipeline.ipynb
  notebooks/course/NLP/01_intro.ipynb
  notebooks/course/NLP/02_exoclean.ipynb
  notebooks/course/NLP/03_lda.ipynb
  notebooks/course/NLP/04_word2vec.ipynb
  notebooks/course/modelisation/6_pipeline.ipynb
Labels: Partie modélisation, scikit

#208 Fix a few typos in the new pipeline tutorial
  content/course/NLP/04_word2vec.Rmd
  content/course/manipulation/04a_webscraping_TP.Rmd
  content/course/modelisation/6_pipeline.Rmd
  corrections/course/NLP/04_word2vec.ipynb
  corrections/course/manipulation/04a_webscraping_TP.ipynb
  corrections/course/modelisation/6_pipeline.ipynb
  notebooks/course/NLP/04_word2vec.ipynb
  notebooks/course/manipulation/04a_webscraping_TP.ipynb
  notebooks/course/modelisation/6_pipeline.ipynb
Labels: Partie modélisation, scikit
