Repository linogaliana/python-datascientist, pull requests merged in 2021-07, with the labels that each got.

#118 Un exo sur les API avec openfood facts
  build/build_light.R
  content/course/manipulation/04c_API_TP.Rmd
Labels: API, exercice, openfood

#119 Régler bug sc_recall
  build/build_light.R
  content/course/modelisation/2_SVM.Rmd
Labels: bug

#121 Exo supplémentaire webscraping
  content/course/manipulation/04b_regex_TP.Rmd
  content/course/manipulation/06a_exo_supp_webscraping.Rmd
Labels: Partie manipulation, enhancement, exercice

#123 Ajoute un bouton copy 🚀
  assets/js/custom.js
  assets/scss/custom.scss
  build/build_light.R
  config/_default/params.toml
Labels: Website, enhancement

#120 WIP: Improve notebooks automatic creation
  .github/workflows/test-light.yaml
  cleanmd.py
  content/course/getting-started/01_installation.md
  content/course/getting-started/02_DS_environment.md
  content/course/getting-started/03_data_analysis.md
  content/course/getting-started/04_python_practice.md
  content/course/getting-started/08_ci_python.md
  content/course/manipulation/01_numpy.Rmd
  content/course/manipulation/02a_pandas_tutorial.Rmd
  test.sh
  upload_notebooks.py
Labels: CI, notebooks
