Repository linogaliana/python-datascientist, pull requests merged in 2021-05, with the labels that each got.

#106 ajouts pandas manip
  content/manipulation/02a_pandas_tutorial/index.Rmd
Labels: Partie manipulation, pandas

#107 Ajouts elements clustering
  content/course/modelisation/5_clustering.Rmd
Labels: Partie modélisation, scikit

#108 Corrige quelques images n'apparaissant pas
  content/course/NLP/01_intro.Rmd
  content/course/NLP/02_exoclean.Rmd
  content/course/modelisation/0_preprocessing.Rmd
Labels: bug
