Repository linogaliana/python-datascientist, pull requests merged in 2021-11, with the labels that each got.

#173 Ajoute une section sur le geocodage
  content/course/manipulation/03_geopandas_tutorial.Rmd
  content/course/manipulation/04c_API_TP.Rmd
  corrections/course/manipulation/03_geopandas_tutorial.ipynb
  corrections/course/manipulation/04c_API_TP.ipynb
  notebooks/course/manipulation/03_geopandas_tutorial.ipynb
  notebooks/course/manipulation/04c_API_TP.ipynb
Labels: geopandas, API

#175 Enrichi la section sur la gestion des dépendances
  content/course/getting-started/01_installation.Rmd
  content/course/getting-started/01_installation.md
  content/course/getting-started/06_rappels_fonctions.Rmd
  content/course/getting-started/_index.md
  content/course/git/introgit.Rmd
  corrections/course/getting-started/01_installation.ipynb
  corrections/course/getting-started/06_rappels_fonctions.ipynb
  corrections/course/git/introgit.ipynb
  notebooks/course/getting-started/01_installation.ipynb
  notebooks/course/getting-started/06_rappels_fonctions.ipynb
  notebooks/course/git/introgit.ipynb
Labels: Introduction

#176 Add badge open in vsode
  .Rprofile
  README.md
  content/course/getting-started/01_installation.Rmd
  corrections/course/getting-started/01_installation.ipynb
  notebooks/course/getting-started/01_installation.ipynb
Labels: Website, notebooks :notebook:

#179 Relec ka 1211 (partie visualisation entiere)
  content/course/visualisation/_index.md
  content/course/visualisation/maps.Rmd
  content/course/visualisation/matplotlib.Rmd
Labels: Partie visualisation, relecture

#181 Relecture partie visualisation
  content/course/visualisation/_index.md
  content/course/visualisation/maps.Rmd
  content/course/visualisation/matplotlib.Rmd
  corrections/course/visualisation/maps.ipynb
  corrections/course/visualisation/matplotlib.ipynb
  notebooks/course/visualisation/maps.ipynb
  notebooks/course/visualisation/matplotlib.ipynb
Labels: Partie visualisation, relecture
