Repository linogaliana/python-datascientist, pull requests merged in 2022-09, with the labels that each got.

#262 Ajoute des éléments sur arrow
  content/course/modern-ds/s3/cloud_graphique.png
  content/course/modern-ds/s3/index.qmd
  corrections/course.ipynb
  corrections/course/manipulation.ipynb
  corrections/course/modelisation.ipynb
  corrections/course/modern-ds/s3.ipynb
  corrections/course/visualisation.ipynb
  notebooks/course.ipynb
  notebooks/course/manipulation.ipynb
  notebooks/course/modelisation.ipynb
  notebooks/course/modern-ds/s3.ipynb
  notebooks/course/visualisation.ipynb
  utils.py
Labels: s3

#272 Update menus.yaml
  config/_default/menus.yaml
  corrections/course.ipynb
  corrections/course/manipulation.ipynb
  corrections/course/modelisation.ipynb
  corrections/course/visualisation.ipynb
  notebooks/course.ipynb
  notebooks/course/manipulation.ipynb
  notebooks/course/modelisation.ipynb
  notebooks/course/visualisation.ipynb
Labels: bug

#271 Relec KA 21/09
  content/course/annexes/evaluation/_index.md
  content/course/getting-started/01_installation/index.qmd
  content/course/getting-started/03_data_analysis/index.qmd
  content/course/getting-started/05_rappels_types/index.qmd
  content/course/getting-started/06_rappels_fonctions/index.qmd
  content/course/index.qmd
  content/course/manipulation/01_numpy/index.qmd
Labels: Partie manipulation, relecture

#276 Corrige bug TP pandas
  content/course/manipulation/02a_pandas_tutorial/index.qmd
  content/course/manipulation/02b_pandas_TP/index.qmd
  corrections/course.ipynb
  corrections/course/manipulation.ipynb
  corrections/course/manipulation/02a_pandas_tutorial.ipynb
  corrections/course/manipulation/02b_pandas_TP.ipynb
  corrections/course/modelisation.ipynb
  corrections/course/visualisation.ipynb
  notebooks/course.ipynb
  notebooks/course/manipulation.ipynb
  notebooks/course/manipulation/02a_pandas_tutorial.ipynb
  notebooks/course/manipulation/02b_pandas_TP.ipynb
  notebooks/course/modelisation.ipynb
  notebooks/course/visualisation.ipynb
Labels: bug, pandas :panda_face:, Partie manipulation

#283 Change notebook url
  content/course/manipulation/04a_webscraping_TP/index.qmd
  corrections/course.ipynb
  corrections/course/manipulation.ipynb
  corrections/course/manipulation/04a_webscraping_TP.ipynb
  corrections/course/modelisation.ipynb
  corrections/course/visualisation.ipynb
  notebooks/course.ipynb
  notebooks/course/manipulation.ipynb
  notebooks/course/manipulation/04a_webscraping_TP.ipynb
  notebooks/course/modelisation.ipynb
  notebooks/course/visualisation.ipynb
Labels: bug

#287 Retouche les chapitres pandas
  content/course/manipulation/01_numpy/index.qmd
  content/course/manipulation/02a_pandas_tutorial/index.qmd
  content/course/manipulation/02b_pandas_TP/index.qmd
  corrections/course.ipynb
  corrections/course/manipulation.ipynb
  corrections/course/manipulation/01_numpy.ipynb
  corrections/course/manipulation/02a_pandas_tutorial.ipynb
  corrections/course/manipulation/02b_pandas_TP.ipynb
  corrections/course/modelisation.ipynb
  corrections/course/visualisation.ipynb
  notebooks/course.ipynb
  notebooks/course/manipulation.ipynb
  notebooks/course/manipulation/01_numpy.ipynb
  notebooks/course/manipulation/02a_pandas_tutorial.ipynb
  notebooks/course/manipulation/02b_pandas_TP.ipynb
  notebooks/course/modelisation.ipynb
  notebooks/course/visualisation.ipynb
Labels: pandas :panda_face:, Partie manipulation, relecture
